@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500&display=swap');


:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magneta: #e882e8;
    --ffp: 'Open Sans', sans-serif;
    --ffo: 'Poppins', sans-serif;
    --iconSize: 2.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--violet);
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/bg-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--violet); */
}

.main,
.content {
    display: flex;
    /* position: relative; */
    /* align-items: center; */
}

.bkg {
    width: 70vw;
    height: 70vh;
    position: relative;
    top: 5rem;
    background-image: url(../images/illustration-mockups.svg);
    background-size: contain;
    background-repeat: no-repeat;
    flex-basis: 60%;
}


.content {
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding-left: 2rem;
    margin-left: 2rem;
    flex-basis: 40%;
}

h1 {
    font-family: var(--ffp);
    font-weight: 600;
    color: white;
    margin: 1rem 0;
}

p {
    margin: 1rem 0;
    font-family: var(--ffo);
    font-weight: 400;
    color: white;
}

button {
    margin: 1rem 0;
    font-family: var(--ffp);
    padding: 1rem 3rem;
    border-radius: 2rem;
    border: none;
    font-size: 1.1rem;
    color: var(--violet);
    box-shadow: 1px 1px 10px 0px rgba(19, 19, 19, 0.5);
}

button:hover {
    /* box-shadow: none; */
    cursor: pointer;
    background-color: var(--soft-magneta);
    color: white;

}

.links ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style-type: none;
}

.links ul li img {
    width: var(--iconSize);
    height: var(--iconSize);
    margin-right: 0.7rem;
}


.section {
    display: flex;
    width: 90vw;
    height: 90vh;
    /* overflow: hidden; */
    flex-direction: column;
}

.logo img {
    width: 15rem;
}

.links ul li a img:hover {
    transform: scale(1.02);
}


@media (max-width: 900px) {

    .main,
    .content,
    .section {

        margin: 0;
        flex-direction: column;
        /* flex-wrap: wrap; */
        /* z-index: 20; */
    }

    .section {
        position: relative;
        display: flex;
        align-items: center;
    }

    .links {
        position: relative;
        bottom: 0;
    }

    /* ul {
        position: absolute;
        top: 0;
    } */

    .content {
        padding: 0;
        justify-content: center;
        align-items: center;
        flex-basis: auto;
    }

    .links ul {
        justify-content: space-around;
        align-items: center;
    }

    .bkg {
        width: 100%;
        height: 100%;
        flex-basis: auto;
        background-size: cover;
    }

    .container {
        background-image: url(../images/bg-mobile.svg);
        background-size: cover;
    }

    h1 {
        font-size: 2.5rem;
        text-align: center;
    }

}